* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Roboto", sans-serif;
	color: #F5F5F5;
	font-size: 18px;
	line-height: 21px;
	background: #141414;
}

h1 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
}

h2 {
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
}

h3 {
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
}

.header {
	padding: 30px 15px;
}
.header > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header > div svg {
	width: 26px;
	height: 26px;
}

.main {
	padding: 10px 40px 0 40px;
	max-width: 1480px;
	margin: 0 auto;
}

.search {
	height: 60px;
	padding: 0 30px;
	border: 1px solid #696969;
	border-radius: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.search svg {
	height: 25px;
}
.search input {
	width: calc(100% - 40px);
	font-size: 18px;
	line-height: 21px;
	color: #f5f5f5;
	background: transparent;
}

.filter {
	position: relative;
	padding-top: 20px;
}
.filter__items {
	margin-top: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 10px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.filter__items input {
	position: absolute;
	width: 0;
	height: 0;
	visibility: hidden;
}
.filter__items input:checked ~ label {
	color: #1765F2;
}
.filter__items label {
	display: inline-block;
	padding: 8px 14px;
	color: #F5F5F5;
	border: 1px solid #696969;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.filter__items label:hover {
	color: #1765F2;
}

.vault-items {
	padding: 60px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 25px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.vault-item {
	padding: 11px 19px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: calc(33.33333% - 17px);
	background: #242424;
	border: 1px solid #696969;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.vault-item img {
	width: 25px;
	height: 25px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.vault-item__name-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 3px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.vault-item__name-login span {
	font-size: 16px;
	line-height: 19px;
	color: #808080;
}
.vault-item:hover {
	border-color: #f5f5f5;
}

.footer {
	padding: 0 40px;
	max-width: 1480px;
	margin: 0 auto;
}
.footer p {
	padding: 30px 0;
	text-align: center;
	font-weight: 700;
	border-top: 1px solid #696969;
}