// Reset CSS
@import "reset.scss";



$anim: all 0.3s ease;



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin cross-btn($bg) {
	&:after,
	&:before {
		content: "";

		position: absolute;
		top: 11px;
		left: 0;

		width: 25px;
		height: 3px;

		background: $bg;

		border-radius: 3px;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:before {
		transform: rotate(-45deg);
	}
}



body {
	font-family: 'Roboto', sans-serif;
	color: #F5F5F5;
	@include font(18px, 21px);

	background: #141414;
}



h1, h2, h3, h4 {
	font-weight: 500;
}

h1 {
	@include font(26px, 30px);
}

h2 {
	@include font(20px, 23px);
}

h3 {
	@include font(18px, 21px);
}

h4 {
	@include font(12px, 14px);
}

@media (max-width: 575.5px) {
	h1 {
		@include font(23px, 27px);
	}
}



.header {
	padding: 30px 15px;

	& > div {
		@include flex(flex, row, 8px, center, center);

		svg {
			width: 26px;
			height: 26px;
		}
	}
}

@media (max-width: 575.5px)  {
	.header {
		padding: 25px 15px;
	}
}



.main {
	padding: 10px 40px 0 40px;
	max-width: 1480px;
	min-height: calc(var(--vh100, 100vh) - 90px - 83px); // 100vh - "header height" - "footer height"
	margin: 0 auto;
}

@media (max-width: 991.5px) {
	.main {
		padding: 10px 30px 0 30px;
	}
}

@media (max-width: 575.5px) {
	.main {
		padding: 10px 15px 0 15px;
		min-height: calc(var(--vh100, 100vh) - 77px - 112px); // 100vh - "header height" - "footer height"
	}
}



.search {
	height: 60px;
	padding: 0 30px;

	border: 1px solid #696969;
	border-radius: 15px;

	cursor: text;

	@include flex(flex, row, 15px, center, flex-start);

	svg {
		height: 25px;
	}

	input {
		width: calc(100% - 80px);

		@include font(18px, 21px);
		color: #f5f5f5;

		background: transparent;
	}

	&__clear-btn {
		position: relative;

		width: 25px;
		height: 25px;

		background: transparent;

		transform: rotate(-110deg);

		@include cross-btn(#696969);

		transition: $anim;

		visibility: hidden;
		opacity: 0;

		&_visible {
			transform: rotate(0deg);
			visibility: visible;
			opacity: 1;
		}
	}
}

@media (max-width: 575.5px) {
	.search {
		padding: 0 15px;
	}
}



.filter {
	position: relative;

	padding-top: 20px;

	&__items {
		margin-top: 10px;
		min-height: 39px;
		@include flex(flex, row, 10px, flex-start, flex-start);
		flex-wrap: wrap;

		input {
			position: absolute;

			width: 0;
			height: 0;

			visibility: hidden;

			&:checked ~ label {
				border-color: #f5f5f5;
				background: #242424;
			}
			&:disabled ~ label {
				opacity: 0.4;
				cursor: auto;
			}
		}

		label {
			display: inline-block;
			padding: 8px 14px;

			color: #F5F5F5;

			border: 1px solid #696969;
			border-radius: 10px;

			cursor: pointer;

			transition: $anim;
		}
	}
}

@media (hover: hover) {
	.filter {
		&__items {
			label:hover {
				border-color: #f5f5f5;
				background: #242424;
			}
			input:disabled ~ label {
				border-color: #696969;
				background: transparent;
			}
		}
	}
}



.vault-items {
	padding: 60px 0;
	@include flex(flex, row, 25px, flex-start, flex-start);
	flex-wrap: wrap;

	&__no-items {
		width: 100%;
		text-align: center;
		font-style: italic;
	}

	&__loading {
		width: 100%;
		text-align: center;

		img {
			width: 90px;
			height: 90px;
		}
	}
}

@media (max-width: 1099.5px) {
	.vault-items {
		gap: 20px;
	}
}

@media (max-width: 1099.5px) {
	.vault-items {
		gap: 15px;
	}
}

@media (max-width: 575.5px) {
	.vault-items {
		padding: 45px 0;
	}
}



.vault-item {
	padding: 11px 19px;
	@include flex(flex, row, 15px, center, flex-start);
	width: calc(33.33333% - 17px);

	background: #242424;
	border: 1px solid #696969;
	border-radius: 20px;

	cursor: pointer;

	transition: $anim;

	img {
		width: 25px;
		height: 25px;

		object-fit: cover;
	}

	&__name-login {
		@include flex(flex, column, 3px, stretch, flex-start);

		span {
			@include font(16px, 19px);
			color: #808080;
		}
	}
}

@media (hover: hover) {
	.vault-item:hover {
		border-color: #f5f5f5;
	}
}

@media (max-width: 1099.5px) {
	.vault-item {
		width: calc(50% - 10px);
	}
}

@media (max-width: 767.5px) {
	.vault-item {
		width: 100%;
	}
}



.footer {
	padding: 0 40px;
	max-width: 1480px;
	margin: 0 auto;

	p {
		padding: 30px 0;

		text-align: center;
		font-weight: 700;

		border-top: 1px solid #696969;
	}
}

@media (max-width: 991.5px) {
	.footer {
		padding: 0 30px;
	}
}

@media (max-width: 575.5px) {
	.footer {
		padding: 0 15px;

		p {
			padding: 30px 0 60px 0;
		}
	}
}



.popup {
	position: fixed;
	z-index: 10;

	padding: 40px 15px;
	@include flex(flex, row, 0, center, center);
	width: 100%;
	height: 100%;

	background: rgba(20, 20, 20, 0.8);

	opacity: 0;
	visibility: hidden;

	transition: $anim;

	&__container {
		position: relative;

		padding: 20px 15px;
		max-width: 680px;
		width: 100%;
		max-height: 100%;

		background: #242424;
		border-radius: 20px;

		overflow-y: auto;

		transform: scale(0);

		transition: $anim;
	}

	&__close-btn {
		position: absolute;
		top: 10px;
		right: 10px;

		width: 25px;
		height: 25px;

		background: transparent;

		@include cross-btn(#f5f5f5);
	}

	&__section {

		&:not(:last-child) {
			padding-bottom: 25px;
		}

		h2 {
			margin-bottom: 12px;

			color: #4F8BFF;
		}

		article {
			position: relative;

			padding-bottom: 6px;

			border-bottom: 1px solid #696969;

			&:not(:last-child) {
				margin-bottom: 14px;
			}

			h4 {
				margin-bottom: 3px;

				color: #727272;
			}

			input {
				width: 100%;

				@include font(18px, 21px);
				color: #f5f5f5;

				background: transparent;
			}
		}
	}

	&__input_copy {
		padding-right: 35px;
	}

	&__input_password {
		padding-right: 80px;
	}

	&__input_uri {
		display: inline-block;
		max-width: calc(100% - 35px);

		@include font(18px, 21px);
		color: #f5f5f5;
		text-overflow: ellipsis;
		white-space: nowrap;

		 overflow: hidden;
	}

	&__copy-btn {
		position: absolute;
		right: 0;
		top: 6px;

		width: 25px;
		height: 26.54px;

		background: url("../img/copy.svg") no-repeat;
		background-size: cover;

		transition: all 0.1s linear;
	}

	&__eye-btn {
		position: absolute;
		right: 40px;
		top: 6px;

		width: 25px;
		height: 25px;

		background: url("../img/eye_open.svg") no-repeat;
		background-size: cover;

		transition: all 0.1s linear;
	}
	&__eye-btn.close {
		background: url("../img/eye_close.svg") no-repeat;
		background-size: cover;
	}
}

.popup.popup_open {
	opacity: 1;
	visibility: visible;

	.popup__container {
		transform: scale(1);
	}
}