// Reset CSS
@import "reset.scss";



$anim: all 0.3s ease;



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}



body {
	font-family: 'Roboto', sans-serif;
	color: #F5F5F5;
	@include font(18px, 21px);

	background: #141414;
}



h1 {
	@include font(26px, 30px);
	font-weight: 500;
}

h2 {
	@include font(20px, 23px);
	font-weight: 500;
}

h3 {
	@include font(18px, 21px);
	font-weight: 500;
}



.header {
	padding: 30px 15px;

	& > div {
		@include flex(flex, row, 8px, center, center);

		svg {
			width: 26px;
			height: 26px;
		}
	}
}



.main {
	padding: 10px 40px 0 40px;
	max-width: 1480px;
	margin: 0 auto;
}



.search {
	height: 60px;
	padding: 0 30px;

	border: 1px solid #696969;
	border-radius: 15px;

	@include flex(flex, row, 15px, center, flex-start);

	svg {
		height: 25px;
	}

	input {
		width: calc(100% - 40px);

		@include font(18px, 21px);
		color: #f5f5f5;

		background: transparent;
	}
}



.filter {
	position: relative;

	padding-top: 20px;

	&__items {
		margin-top: 10px;
		@include flex(flex, row, 10px, flex-start, flex-start);
		flex-wrap: wrap;

		input {
			position: absolute;

			width: 0;
			height: 0;

			visibility: hidden;

			&:checked ~ label {
				color: #1765F2;
			}
		}

		label {
			display: inline-block;
			padding: 8px 14px;

			color: #F5F5F5;

			border: 1px solid #696969;
			border-radius: 10px;

			cursor: pointer;

			transition: $anim;

			&:hover {
				color: #1765F2;
			}
		}
	}
}



.vault-items {
	padding: 60px 0;
	@include flex(flex, row,30px 40px, flex-start, flex-start);
	flex-wrap: wrap;
}

.vault-item {
	padding: 19px 29px;
	@include flex(flex, row, 0, center, space-between);
	width: calc(50% - 20px);

	background: #242424;
	border: 1px solid #696969;
	border-radius: 20px;

	cursor: pointer;

	transition: $anim;

	&__logo-name {
		@include flex(inline-flex, row, 15px, center, flex-start);

		img {
			width: 25px;
			height: 25px;

			object-fit: cover;
		}
	}

	&:hover {
		border-color: #f5f5f5;
	}
}



.footer {
	padding: 0 40px;
	max-width: 1480px;
	margin: 0 auto;

	p {
		padding: 30px 0;

		text-align: center;
		font-weight: 700;

		border-top: 1px solid #696969;
	}
}